.sidebar ul li a {
    color: white !important;
}
.nav-treeview li a:hover {
    color: #4ca3cc !important;
}

.main-sidebar {
    background-color: #00447a;
}

.login {
    background-color: #00447a !important;
}

.card-body tr td {
    padding: 2px 5px;
}

.three-btn {
    padding: 2px 6px;
    margin: 3px;
    margin-right: 5px;
    width: 29%;
}

.two-btn {
    padding: 2px 6px;
    margin: 1px;
    width: 45%;
}

.one-btn {
    padding: 2px 6px;
    margin: 1px;
    width: 95%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.dashboard-grid {
    height: 270px;
}

.profile-image {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
